
<div class="global">
  <nav class="navbar navbar-light ">
    <a class="navbar-brand"> <h2>Stampi Cafe</h2> </a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
      <button class="btn btn boton2" type="submit">Buscar</button>
    </form>
  </nav>
 
        
    <div class="container">

     
      <h1>Realizar Pedidos</h1>

        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">

            <div>  
              <button type="button" routerLink="/pedidos" class="btn btn-secondary boton">Listado de Pedidos</button> <br>
              <button type="button" routerLink="/proveedores" class="btn btn-secondary boton">Proveedores</button><br>
              <button type="button" routerLink="/login" class="btn btn-secondary boton">Volver a Inicio</button>
              </div>

            
      
            
          </div>
          <div class="  col-md-6 col-sm-8 col-xs-12">
            <form>
                <div class="form-group ">
                  <label >Empleado</label>
                  <input name="empleado" [(ngModel)]="data.empleado" type="text" class="form-control tabla"  placeholder="Nombre de Empleado">
                </div>
                <div class="form-group">
                    <label >Proveedor</label>
                    <input name="proveedor" [(ngModel)]="data.proveedor"type="text" class="form-control tabla"  placeholder="Nombre del Proveedor">
                  </div>

                  <div class="form-group">
                    <label >Fecha de Pedido</label>
                    <input name="fecha" [(ngModel)]="data.fecha" type="date" class="form-control tabla"  placeholder="Fecha de pedido">
                  </div>

                 
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Producto</label>
                    <select name="productos" [(ngModel)]="data.productos" class="form-control tabla" id="exampleFormControlSelect1">
                      <option></option>
                      <option>Carnes</option>
                      <option>Verduras</option>
                      <option>Congelados</option>
                      <option>Conservas</option>
                      <option>Frescos</option>
                    </select>
                  </div>
                
                <div class="form-group">
                  <label  for="exampleFormControlTextarea1">Concepto</label>
                  <textarea name="concepto" [(ngModel)]="data.concepto" class="form-control tabla"  rows="3"></textarea>
                </div>
              </form>

              <input type="button" value="Confirmar Pedido" (click)="submit()" class="button">

                       
          </div>
          <div class="col-md-3">
          
          </div>
        </div>
      </div>
      <div class="pie">
        <footer> Sobre Nosotros |Derechos Reservados | Barcelona 2020 |

          <i class="fab fa-twitter"></i> |
          <i class="fab fa-google-plus-g"></i> |
          <i class="fab fa-whatsapp"></i> 
        </footer>
    </div>
    </div>
   


