h1{
    text-align: center;
    padding-top: 80px;
    color: honeydew;
 
}

.row{
    margin-top: 50px;
}

.global{
    background-image: url("/assets/imagen2.jpg");
    background-size: cover;
    height: 100%;
   
}

h2{
    text-align: center;
    font-size: 50px;
   font-style:italic;
    color: rgb(255, 255, 255); 
}

.boton4{
   width: 120px;
  
   color: rgb(255, 255, 255);
   padding: 20px, 20px, 20px, 20px;
   background-color: rgba(12, 51, 61, 0.616);
   border: solid 1px black;
 
}


.boton{
    width: 200px;
    display:block;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 150px;
   padding: 20px, 20px, 20px, 20px;
   background-color: rgba(12, 51, 61, 0.616);
   border: solid 1px black;
 
}

.button{
    background-color: rgba(12, 51, 61, 0.932);
    border: none ;
    border-radius: 5%;
    
}



label{
    color: rgb(218, 247, 218);
}

.pie{
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 80px;
    font-weight: bolder;
   
}

.tabla{
    background-color: rgba(255, 255, 255, 0.795);
    border: none;
}