<div class="global">

    <nav class="navbar navbar-light ">
        <a class="navbar-brand"> </a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn boton4" type="submit">Buscar</button>
        </form>
    </nav>



    <div class="container">

        <div>
            <h2>Gestiona App</h2>
        </div>


        <h1>Agregar Proveedor</h1>

        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">

                <div>
                    <button type="button" routerLink="/pedidos" class="btn btn-secondary boton">Listado de
                        Pedidos</button> <br>
                    <button type="button" routerLink="/pedir" class="btn btn-secondary boton">Realizar
                        Pedido</button><br>
                    <button type="button" routerLink="/login" class="btn btn-secondary boton">Volver a Inicio</button>
                </div>




            </div>
            <div class="  col-md-6 col-sm-8 col-xs-12">
                <form>
                    <div class="form-group ">
                        <label>Nombre</label>
                        <input name="nombre" [(ngModel)]="data.nombre" type="text" class="form-control tabla" placeholder="Nombre de la Empresa">
                    </div>

                    <div class="form-group ">
                        <label>Direccion</label>
                        <input name="direccion" [(ngModel)]="data.direccion" type="text" class="form-control tabla" placeholder="Direccion de la Empresa">
                    </div>
                    <div class="form-group">
                        <label>Nif</label>
                        <input name="nif" [(ngModel)]="data.nif" type="text" class="form-control tabla" placeholder="Nif de la Empresa">
                    </div>

                    <div class="form-group">
                        <label>Contacto</label>
                        <input name="contacto" [(ngModel)]="data.contacto" type="text" class="form-control tabla" placeholder="Numero de Telefono">
                    </div>

                    <div class="form-group">
                        <label>Categoria</label>
                        <input name="categoria" [(ngModel)]="data.categoria" type="text" class="form-control tabla" placeholder="Concepto">
                    </div>



                    <input type="button" value="Confirmar Proveedor" (click)="submit()" class="button">
                </form>

            </div>
            <div class="col-md-3">

            </div>
        </div>
    </div>
    <div class="pie">
        <footer> Sobre Nosotros |Derechos Reservados | Barcelona 2020 |

            <i class="fab fa-twitter"></i> |
            <i class="fab fa-google-plus-g"></i> |
            <i class="fab fa-whatsapp"></i>
        </footer>
    </div>
</div>