<div class="global">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">

            </div>
            <div class="col-sm-6">

                <h1>Registrate</h1>
                <form class="formulario">

                    <div class="input">

                        <i class="fas fa-user icon"></i>
                        <input type="text" placeholder="Nombre">

                    </div>

                    <div class="input">

                        <i class="fas fa-envelope icon"></i>
                        <input type="text" placeholder="Correo">

                    </div>

                    <div class="input">

                        <i class="fas fa-key icon"></i>
                        <input type="password" placeholder="Contraseña">

                    </div>

                    <input type="submit" value="Registrate" class="button">
                    <p>Ya tienes una cuenta? <a routerLink="/login">Iniciar Sesion</a></p>
                </form>
            </div>
            <div class="col-sm-3">

            </div>
        </div>
    </div>
    <div class="pie"><footer >  Sobre Nosotros |Derechos Reservados | Barcelona 2020  </footer></div>
</div>