.global {
    background: #136a8a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #267871, #136a8a);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #267871, #136a8a);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.formulario {
    text-align: center;
    margin-top: 40px;
}

.formulario input[type="text"],
.formulario input[type="password"] {
    padding-left: 45px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: solid 1px rgb(116, 116, 116);
}

h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 120px;
    color: rgb(255, 255, 255);
    font-style: italic;
}

h2 {
    text-align: center;
    font-size: 65px;
    font-style: italic;
    color: rgb(255, 255, 255);
}

.icon {
    position: relative;
    left: 25px;
}

.button {
    /* width: 210px; */
    color: rgb(0, 0, 0);
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: rgba(37, 66, 73, 0.842);
    color: floralwhite;
}

p {
    color: floralwhite;
    font-weight: bolder;
}

.pie {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 150px;
    font-weight: bolder;
}

.tabla {
    background-color: rgba(253, 253, 253, 0.767);
    width: 250px;
    position: center;
}

.colorLink {
    color: rgba(21, 34, 37, 0.842);
}