<div class="global">
    <nav class="navbar navbar-light ">
        <a class="navbar-brand">
            <h2>La Alcira</h2>
        </a>

    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-3">


            </div>
            <div class="col-sm-6 col-xs-12">

                <h1>Login</h1>
                <form class="formulario">

                    <div class="input">

                        <i class="fas fa-user icon"></i>
                        <input name="username" [(ngModel)]="data.username" type="text" class="tabla" placeholder="Nombre">

                    </div>


                    <div class="input">

                        <i class="fas fa-key icon"></i>
                        <input name="password" [(ngModel)]="data.password" type="password" class="tabla" placeholder="Contraseña">

                    </div>

                    <input type="button" value="Entra" (click)="submit()" class="button">

                    <p>No tienes una cuenta? <a routerLink="/register">Registrate aqui</a></p>
                </form>
            </div>
            <div class="col-sm-3">

            </div>
        </div>
    </div>
    <div class="pie">
        <footer> Sobre Nosotros |Derechos Reservados | Barcelona 2020 |
            <i class="fab fa-twitter"></i> |
            <i class="fab fa-google-plus-g"></i> |
            <i class="fab fa-whatsapp"></i>


        </footer>
    </div>
</div>