<div class="global">


  <div class="container">
  
   
    <div class="row">
     
      <div class="col-md-3 col-sm-6 col-xs-12">
  
        
        <div>  
          <button type="button" routerLink="/pedir" class="btn btn-secondary boton1">Hacer Pedido</button> <br>
          <button type="button" routerLink="/pedidos" class="btn btn-secondary boton2">Listado de Pedidos</button><br>
          <button type="button" routerLink="/login" class="btn btn-secondary boton2">Volver a Inicio</button>
          </div>
     
      </div>
      <div class="col-md-6 col-sm-8 col-xs-12">
  
        <h1>Proveedores</h1>
        <ul class="list-group lista">
          <li class="list-group-item disabled" aria-disabled="true">Proveedor</li>
          <li class="list-group-item celda"></li>
          <li class="list-group-item celda"></li>
          <li class="list-group-item celda"></li>
          <li class="list-group-item celda"></li>
        </ul>
       
      </div>
      <div class="col-md-3">
        
      </div>
    </div>
  </div>
  <div class="pie">
    <footer> Sobre Nosotros |Derechos Reservados | Barcelona 2020 </footer>
  </div>
  </div>