.global {
    background: #136a8a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #267871, #136a8a);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #267871, #136a8a);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.lista {
    padding-top: 80px;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 80px;
    color: rgb(255, 255, 255);
    font-style: italic;
}

h2 {
    text-align: center;
    font-size: 65px;
    font-style: italic;
    color: rgb(255, 255, 255);
}

.boton {
    width: 120px;
    display: block;
    color: rgb(255, 255, 255);
    padding: 20px, 20px, 20px, 20px;
    background-color: rgba(12, 51, 61, 0.616);
    border: solid 1px black;
}

.boton1 {
    width: 200px;
    display: block;
    margin-top: 200px;
    margin-left: 0px;
    margin-right: 150px;
    padding: 20px, 20px, 20px, 20px;
    background-color: rgba(12, 51, 61, 0.616);
    border: solid 1px black;
}

.boton2 {
    width: 200px;
    display: block;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 150px;
    padding: 20px, 20px, 20px, 20px;
    background-color: rgba(12, 51, 61, 0.616);
    border: solid 1px black;
}

.pie {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 155px;
    font-weight: bolder;
}

.celda {
    height: 45px;
}

.tabla {
    background-color: rgba(255, 255, 255, 0.795);
    border: none;
}